# Ignore everything
*

# --- Allow only specific source files ---
!c_engine.c
!main.py
!common.h
!common.c
!download.h
!download.c
!upload.h
!upload.c

# Allow folders but ignore their contents (unless explicitly whitelisted)
!*/
